header{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-weight: 500;
    font-size: 24px;
    margin : 0 0 16px 0;
    display: inline;
}

nav , a{
    text-decoration: none;
    color:black;
}



p{
    color: gray;
    margin: 0 0 16px 0 ; 
}

.btn{
    background-color: orange;
    background-image: url();
    color : azure;
    padding: 8px 24px;
}

.btn-alt{
    background-color: white;
    color : black;
    padding: 8px 24px;
    margin-right: 50px;
    border: 2px solid;
}

.landing p{
    margin-bottom: 24px;
}

nav > a{
    padding: 2;
    margin-bottom: 24px;
    color: orange;
    
}

nav{
    justify-content: flex-end;
}