header {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
html,
body {
	margin: 0;
	padding: 0;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 128px;
	position: sticky;
	top: 0px;
	background-color: white;
	z-index: +1;
}
#header > div {
	width: 50%;
}

header h1 {
	margin: 0px;
}

h1 {
	font-size: 35px;
	margin: 0 0 16px 0;
	display: inline;
}

nav,
a {
	text-decoration: none;
	color: black;
}

nav > a {
	margin: 5px;
	color: orange;
	font-size: 16px;
}

nav > a:hover {
	color: gray;
}

#landing {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 16px;
}

section {
	padding: 64px 128px;
}

p {
	color: gray;
	margin: 0 0 20px 0;
	font-size: 20px;
}

.btn {
	background-color: orange;
	color: azure;
	padding: 8px 24px;
}

.btn-alt {
	background-color: white;
	color: black;
	padding: 8px 24px;
	margin-right: 50px;
	border: 1px solid;
}

.landing p {
	margin-bottom: 24px;
}

nav {
	justify-content: flex-end;
}

#about {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 16px;
}

#about > div {
	width: 50%;
}

#about-stats {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	margin-top: 72px;
}

.about-stats-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-stats-items div {
	width: 60px;
	height: 10px;
	background-color: orange;
	border-radius: 10px;
	margin-bottom: 16px;
}

.service-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.service-header p {
	margin-top: 10px;
}

.service-header h1 {
	position: relative;
}

.service-header h1::before {
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	background: url("./images/accent1.svg");
	left: -20px;
	top: -20px;
	z-index: -1;
}

.service-detail {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 128px;
	margin-top: 72px;
}

.service-detail-item:hover {
	transform: scale(1.15);
}

.service-detail-item:hover img {
	filter: grayscale(0);
}

.service-detail-item img {
	width: 100%;
	filter: grayscale(1);
	border-radius: 10px;
}


.service-detail-item h2 {
	padding: 0 16px;
}

.service-detail-item p {
	font-size: 16px;
	padding: 0 16px;
}

.service-detail-item {
	box-shadow: 2px 4px 4px gray;
	border-radius: 10px;
}

#contact p {
	margin-top: 10px;
}

#contact h1 {
	position: relative;
}

#contact h1::before {
	content: " ";
	width: 60px;
	height: 60px;
	position: absolute;
	background: url("./images/accent2.svg");
	top: -20px;
	left: -20px;
	z-index: -1;
}
.contact-detail {
	display: flex;
	justify-content: space-between;
	margin-top: 72px;
	column-gap: 128px;
}

iframe {
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	border: 3px solid orange;
	padding: 64px 32px;
}

form button {
	border: none;
}

form > .btn:hover {
	cursor: pointer;
}
.form-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 32px;
	margin-top: 32px;
	grid-template-areas:
		"name subject"
		"email phone"
		"message message";
}

#input-name {
	grid-area: name;
}
#input-subject {
	grid-area: subject;
}
#input-email {
	grid-area: email;
}
#input-phone {
	grid-area: phone;
}
#input-message {
	grid-area: message;
}

.input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
}

.input-group label {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 32px;
}

.input-group input {
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	font-size: 15px;
}

.input-group input:hover {
	border-bottom: 2px solid orange;
}

footer {
	padding: 16px 128px;
	background-color: orange;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer p {
	color: white;
	width: 50%;
	margin-top: 10px;
}

footer .icon {
	display: flex;
	gap: 32px;
}

footer .icon img:hover {
	cursor: pointer;
}
